.qr-code-container {
  margin: 0 auto;
}

.qr-code-container canvas {
  width: 100% !important; /* Make the canvas responsive */
  height: 100% !important; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  /* For screens smaller than 768px */
  .qr-code-container {
    width: 260px; /* Adjust the width for mobile */
    height: 260px; /* Maintain square dimensions */
  }
}
